<div class="navbar navbar-default navbar-static-top">
    <div class="container">
        <!-- <div class="navbar-header"> -->
            <a href="#" class="navbar-brand">Recipe Book</a>
          
        <!-- </div> -->
 
            <div class="navbar-default">
                <ul class="nav navbar-nav">
                    <!-- code now void because we are now using routers to choose which component-->
                    <!-- use click event to decide which component to load
                    <li><a href="#" (click)="onSelect('recipe')">Recipes</a></li>
                    <li><a href="#"(click)="onSelect('shopping-list')">Shoppping List</a></li> 
                    -->
                    <li routerLinkActive="active"><a routerLink="/recipes">Recipes</a></li>
                    <li routerLinkActive="active"><a routerLink="/shopping-list">Shoppping List</a></li>
                </ul>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown" appDropdown>
                    <a style="cursor:pointer" class="dropdown-toggle" role="button">Details <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a style="cursor:pointer">Save Data</a></li>
                        <li><a style="cursor:pointer">Fectch Data</a></li>
                    </ul>
                </li>
            </ul>
     
    </div>
</div>